<header class="header">
    <nav class="navbar">
      <a href="" class="logo">Gestion Stocks</a>
  
      <!-- Menu Hamburger pour les écrans plus petits -->
      <mat-icon class="menu-icon" (click)="toggleMenu()">menu</mat-icon>
  
      <!-- Liens de navigation -->
      <ul class="nav-links" [class.show]="menuOpen">
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOu">

        <li>
          <a routerLink="/dashboard">Tableau de bord</a>            
        </li>
        <li>
          <a routerLink="/gestion">Gestion du stock</a>          
        </li>
        <li>
          <a routerLink="/peremption">Suivi des dates de péremption</a>
        </li>
        </ng-container>  
        <ng-template #loggedOu>
          <li>
            <a routerLink="/features">Outils</a>
          </li>
          <li>
            <a routerLink="/contact">Contact</a>
          </li>
        </ng-template>
        
        <li>     <!-- Boutons de connexion/déconnexion -->
          <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <button class="login-btn" (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
              Se déconnecter
            </button>
          </ng-container>
      
          <ng-template #loggedOut>
            <button class="login-btn" (click)="auth.loginWithRedirect()">Se connecter</button>
          </ng-template></li>
      </ul>
    </nav>

  </header>