<header class="header">
    <nav class="navbar">
      <a href="" class="logo">Gestion Stocks</a>
  
      <!-- Menu Hamburger pour les écrans plus petits -->
      <mat-icon class="menu-icon" (click)="toggleMenu()">menu</mat-icon>
      
      <!-- Liens de navigation -->
      <ul class="nav-links" [class.show]="menuOpen">
        <li><a routerLink="/dashboard">Tableau de bord</a></li>
        <li><a routerLink="/features">Fonctionnalités</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li>      <!-- Boutons de connexion/déconnexion -->
          <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <button class="login-btn" (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
              Log out
            </button>
          </ng-container>
      
          <ng-template #loggedOut>
            <button class="login-btn" (click)="auth.loginWithRedirect()">Log in</button>
          </ng-template></li>
      </ul>
  

    </nav>
  </header>
  