<app-header></app-header>

<div class="container">
  <h1>Articles par date de péremption</h1>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Quantité</th>
        <th>Prix</th>
        <th>Date de péremption</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of articles">
        <td>{{ article.name }}</td>
        <td>{{ article.quantity }}</td>
        <td>{{ article.price | currency:'EUR' }}</td>
        <td>{{ article.expirationDate.toDate() | date:'dd/MM/yyyy' }}</td>
      </tr>
    </tbody>
  </table>
</div>
