<app-header></app-header>

<div class="container">
  <h1>Inventaire des Articles</h1>
  <button (click)="toggleAddArticleForm()" class="btn add-article-btn">Ajouter un article</button>
  <button (click)="toggleSalesForm()" class="btn sales-btn">Ventes du jour</button>
  
  <div *ngIf="showAddArticleForm" class="form-container add-article-form">
    <h2>Ajouter un nouvel article</h2>
    <form (ngSubmit)="addArticle()">
      <label for="productId">Identifiant du produit:</label>
      <input type="text" id="productId" [(ngModel)]="newArticle.productId" name="productId" (blur)="checkProduct()" required>
      
      <label for="name">Nom:</label>
      <input type="text" id="name" [(ngModel)]="newArticle.name" name="name" required>
      
      <label for="lot">Numéro de lot:</label>
      <input type="text" id="lot" [(ngModel)]="newArticle.lot" name="lot" required readonly>
      
      <label for="quantity">Quantité:</label>
      <input type="number" id="quantity" [(ngModel)]="newArticle.quantity" name="quantity" required>
      
      <label for="price">Prix unitaire:</label>
      <input type="number" id="price" [(ngModel)]="newArticle.price" name="price" required>
      
      <label for="expirationDate">Date de péremption:</label>
      <input type="date" id="expirationDate" [(ngModel)]="newArticle.expirationDate" name="expirationDate" required>
      
      <button type="submit" class="btn submit-btn">Ajouter</button>
    </form>
  </div>

  <div *ngIf="showSalesForm" class="form-container sales-form">
    <h2>Ventes du jour</h2>
    <form (ngSubmit)="recordSales()">
      <label for="salesProductId">Identifiant du produit:</label>
      <input type="text" id="salesProductId" [(ngModel)]="sales.productId" name="salesProductId" required>
      
      <label for="salesLot">Numéro de lot:</label>
      <input type="text" id="salesLot" [(ngModel)]="sales.lot" name="salesLot" required>
      
      <label for="salesQuantity">Quantité vendue:</label>
      <input type="number" id="salesQuantity" [(ngModel)]="sales.quantity" name="salesQuantity" required>
      
      <button type="submit" class="btn submit-btn">Enregistrer les ventes</button>
    </form>
  </div>

  <table class="styled-table">
    <thead>
      <tr>
        <th>Identifiant du produit</th>
        <th>Nom</th>
        <th>Nombre de lots</th>
        <th>Quantité totale</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of groupedArticles">
        <td data-label="Identifiant du produit">{{ product.productId }}</td>
        <td data-label="Nom">{{ product.name }}</td>
        <td data-label="Nombre de lots">{{ product.lotCount }}</td>
        <td data-label="Quantité totale">{{ product.totalQuantity }}</td>
      </tr>
    </tbody>
  </table>
</div>

