$primary-color: #4CAF50;
$secondary-color: #f4f4f4;
$font-color: rgba(33, 33, 33, 0.8);
.main {
  font-family: Arial, sans-serif;
  padding: 20px;
}
p{
  color: $font-color;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  background-color: #f4f4f4;
}

.hero-content {
  max-width: 50%;
}
.hero-image {
  max-width: 30%;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: $primary-color;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.cta-btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
}

.cta-btn:hover {
  background-color: #00b312;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.features {
  padding: 50px 20px;
  text-align: center;
}

.features-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature {
  flex: 1;
  min-width: 250px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.feature img {
  max-width: 50px;
  margin-bottom: 10px;
}

.pricing {
  padding: 50px 20px;
  text-align: center;
  background-color: #f4f4f4;
}

.pricing-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pricing-card {
  flex: 1;
  min-width: 250px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.pricing-card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.pricing-card p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.pricing-card ul li {
  margin-bottom: 10px;
}

.subscribe-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.subscribe-btn:hover {
  background-color: #218838;
}

.about {
  padding: 50px 20px;
  text-align: center;
}

.about h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.cta {
  text-align: center;
  padding: 50px 20px;
}

.cta h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.cta p {
  font-size: 1.2em;
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  .hero-image {
    max-width: 90%;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #f4f4f4;
  }
  
  .hero-content {
    max-width: 100%;
  }
}